extends layout

block content
  include author
  each article in articles
    article.article.intro
      header
        p.date
          span= moment.utc(article.date).format('DD. MMMM YYYY')
        h2
          a(href=article.url)= article.title
      section.content
        if article.intro.length > 0
          != article.metadata.excerpt
        p.more
          a(href=article.url) weiterlesen

block prepend footer
  div.nav
    if prevPage
      a(href=prevPage.url) « neuer
    else
      a(href='/archive.html') « Archives
    if nextPage
      a(href=nextPage.url) weiter »



