extends layout

block headerfull
  div.logo
    h1
      a(href='/')= locals.name
    p.description= locals.description
  if pageNum == 1
    div.category-images.flex-horizontal-wrap-center
      if !category || category == 'basteln'
        a(href='/category/basteln/')
          h2 Basteln
          img.category(src='/images/Basteln.jpg')
          p Mit Klebe und Schere bestückt,<br/> wird mit Liebe geschmückt.
      if !category || category == 'brandings'
        a(href='/category/brandings/')
          h2 Brandings
          img.category(src='/images/Brandings.jpg')
          p Die Haut zu dick? Das ist egal,<br/> bebrannt wird auch das Holzregal.
      if !category || category == 'filzen'
        a(href='/category/filzen/')
          h2 Filzen
          img.category(src='/images/Filzen.jpg')
          p Wasser, Seife, Wolle,<br/> reibe nicht zu dolle.
      if !category || category == 'malen'
        a(href='/category/malen/')
          h2 Malen
          img.category(src='/images/Malen.jpg')
          p Pinselstrich und Mine, geben mir die Muße,<br/> dem ersten Zug, ein Neuer folgt zum Gruße.
      if !category || category == 'naehen'
        a(href='/category/naehen/')
          h2 Nähen
          img.category(src='/images/Naehen.jpg')
          p Mit Nadel und Faden in den Krieg,<br/> erreichen kannst du nur den Sieg.
      if !category || category == 'wolle'
        a(href='/category/wolle/')
          h2 Wolle
          img.category(src='/images/Wolle.jpg')
          p Spinne, häkel, webe, sticke,<br/> knüpfe dir nur keine Stricke.


block content
  include author
  each article in articles
    article.article.intro
      header
        p.date
          span= moment.utc(article.date).format('DD. MMMM YYYY')
        h2
          a(href=article.url)= article.title
            div.flex-horizontal-wrap-center
              img.title-image(src=article.url + article.metadata.image)
      section.content
        if article.intro.length > 0
          != article.metadata.excerpt
        p.more
          a(href=article.url) weiterlesen

block prepend footer
  div.nav
    if prevPage
      a(href=prevPage.url) « neuer
    else
      a(href='/archive.html') « Archives
    if nextPage
      a(href=nextPage.url) weiter »



